/*
Styles for Dopple effect simulation
*/

* {
	box-sizing: border-box;
	font-family: "Tahoma";
	font-size: 12px;
	color: #696969;
}

.container {
	max-width: 620px;
	margin: 40px auto;
	text-align: center;
}

.container img,
.container canvas {
	text-align: center;
}

.simulation {
	border: 1px solid #d1d1d1;
	border-radius: 5px;
	padding: 5px;
}

.simulation .controls {
	border-top: 1px solid #c6c6c6;
	padding-top: 5px;
	line-height: 20px;
}

.simulation .controls input[type=text] {
	width: 50px;
	font-size: 12px;
	padding: 2px 5px;
	margin-left: 5px;
}

.simulation .controls #slider {
	float: right;
	width: 450px;
	margin-top: 5px;
	margin-right: 5px;
}

.simulation .error {
	color: red;
	padding: 5px;
	margin: 5px -5px -5px -5px;
	background-color: #ffd9ea;
	border-radius: 0 0 5px 5px;
	display: none;
}

/*
jQuery UI overrides
*/
.ui-slider .ui-slider-handle {
	width: 0.8em;
	height: 1.5em;
}